.page-bg-3{
    height: 100%;
    width: 100%;
    position: relative;
}

.img-bg-3{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
}

.font-3{
    width: 22rem;
    position: absolute;
    left: 2.3rem;
    top: 7.4rem;
}
